[submodule "lib/bx"]
	path = lib/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/openvr"]
	path = lib/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "lib/snappy-lib"]
	path = lib/snappy-lib
	url = https://github.com/google/snappy.git
[submodule "lib/leveldb-lib"]
	path = lib/leveldb-lib
	url = https://github.com/google/leveldb.git
[submodule "lib/ImGuizmo"]
	path = lib/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
