[submodule "lib/bx"]
	path = lib/bx
	url = git://github.com/bkaradzic/bx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = git://github.com/bkaradzic/bimg.git
[submodule "lib/bgfx"]
	path = lib/bgfx
	url = git://github.com/bkaradzic/bgfx.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = git://github.com/glfw/glfw.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git://github.com/ocornut/imgui
[submodule "lib/openvr"]
	path = lib/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "lib/imgui-node-editor"]
	path = lib/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
