bin
*.o
*.so
.cache
compile_commands.json
imgui.ini
*.bin
.config
.config.old
include/config
include/generated
scripts/deno
scripts/deno.exe
node_modules
AXEUI/nativeLink/headers
ShadowCrashHandler
*.node

# Rust
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb

# Android
*.iml
.gradle
local.properties
.DS_Store
./android/build
./android/captures
.externalNativeBuild
.cxx
local.properties
.idea/

# Visual Studio
.vs/
*.user
