@font-face {
	font-family: "Inter Black";
	src: url(./Inter-Black.ttf);
}

@font-face {
	font-family: "Inter";
	src: url(./Inter-Medium.ttf);
}

@font-face {
	font-family: "Codicons";
	src: url(./node_modules/@vscode/codicons/dist/codicon.ttf);
}

* {
	/* outline: #f00; */
}

::selection {
	background: #ff4500;
}

::-webkit-scrollbar {
	width: 10px;
	background: #111;
}

::-webkit-scrollbar-button {
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 1000px;
	border: 2px solid #111;
}

.codicon {
	font-family: "Codicons";
}

.accBtn {
	-webkit-app-region: no-drag;
	width: 35px;
	height: 35px;
	margin-right: 160px;
	font-size: 20px;
	text-align: center;
	border-radius: 1000px;
	border: none;
	cursor: pointer;
	background: none;
	color: #fff;

	transition: background 0.3s;
}

.accBtn:hover {
	background: #ffffff50;
}

.fill {
	flex-grow: 1;
}

body {
	/* background: #111; */
	font-family: "Inter";
	color: #fff;
}

.bar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1111114f;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  -webkit-app-region: drag;
  font-family: "Inter Black";
}

* {
  user-select: none;
}

.content {
	margin-top: 60px;
}

.login-content {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 50px auto;
	align-items: center;
	box-sizing: border-box;
	display: none;
}

.login-content img {
	width: 120px;
}

.login-content input {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 10px;
	background: #222;
	border: none;
	border-radius: 5px;
	color: #fff;
}

.login-content label {
	width: 100%;
}

.login-content .btnbox {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.login-content .btnbox button {
	font-family: "Inter";
	cursor: pointer;
	border: none;
	background: #f00;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
}

.application {
	/* box-shadow: 0 0 10px #222; */
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	background: #18181885;
	display: flex;
	gap: 20px;
	align-items: center;
	position: relative;
}

.application img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.application h1 {
	margin: 0;
}

.actions {
	height: 100%;
}

.installBtn {
	font-family: "Inter";
	cursor: pointer;
	border: none;
	background: #ff4500;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
}

.unavailable {
	background: #444444;
	cursor: not-allowed;
}




/* Installer bottom bar */

.installerBottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #1111114f;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	gap: 10px;
	transform: translateY(70px);

	transition: transform 0.6s;
}

@keyframes loopProgress {
	0% {
		left: -100%;
	}
	50% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}

.progress {
	height: 100%;
	width: 60%;
	background: #ff4500;
	border-radius: 1000px;
	position: relative;
	animation: loopProgress 1s infinite linear;
}


.installerProgressBar {
	height: 20px;
	border-radius: 1000px;
	width: 300px;
	background-color: #22222242;
	overflow: hidden;
}